.flex
  display flex
.editor-header
  display flex
  flex-wrap nowrap
  align-items center
  .avatar
    background-color transparent
  .box
    display flex
    flex-wrap nowrap
    flex 1
    align-items center
    svg
      font-size 18px
    .flex
      display flex
    .editor-uname
      margin-left 10px
      align-items center
      font-weight 500
      svg
        opacity .6
    .editor-tpoic-type
      align-items center
      span
        align-items center
        cursor pointer
        padding .18em .4em
        margin-left -.3125em
        border-radius 4px
        &.disabled
          cursor default
      svg
        margin-top -1px
        margin-left 5px
        font-size 14px
  .editor-header-actions
    padding-right 10px
