#header
  background-color #2196f3
  background-image linear-gradient(150deg, #21d6f3, #2196f3 28%, #ff7ed7 110%)
  box-shadow 0 1px 4px rgba(0,0,0,.03),
             0 1px 6px rgba(0,0,0,.05),
             0 1px 8px rgba(0,0,0,.26),
             0 1px 12px rgba(0,0,0,.1)
  >div:first-child
    padding-left 6px
    padding-right 6px
    @media (min-width 600px)
      padding-left 16px
      padding-right 16px
  #logo
    flex 1
    padding-left 10px
    pointer-events none
    a
      display inline-block
      pointer-events auto
    .logo
      margin-bottom 6px
      height 36px
      vertical-align middle
      @media (max-width 768px)
        height 28px
      @media (max-width 599px)
        height 24px
