{
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["prismjs", {
      "languages": [
        "css",
        "clike",
        "markup",
        "markdown",
        "javascript",
        "typescript",
        "jsx",
        "tsx",
        "python",
        "json",
        "yaml",
        "c",
        "cpp",
        "git",
        "diff",
        "bash",
        "java",
        "php",
        "sql",
        "swift",
        "objectivec",
        "makefile",
        "go",
        "lua",
        "erlang",
        "docker"
      ],
      "theme": "default",
      "css": true
    }]
  ]
}
