#settings
  max-width 692px
  margin-top 30px
  color rgba(0, 0, 0, .78)
  .setting
    position relative
    display flex
    align-items center
    padding 6px 18px
    min-height 60px
    &:after
      content ''
      position absolute
      left 0
      right 0
      bottom 0
      height 1px
      background-color rgba(0, 0, 0, .068)
    &:last-child:after
      height 0
    .setting-label
      display flex
      flex 1
      align-items center
    .switch
      margin-right -14px
    .setting-wrapper
      position relative
      display flex
      flex-direction column
      min-width 50%
      padding 0 12px

    &.nano
      flex-direction column
      align-items flex-start
      padding-top 20px
      padding-bottom 14px
      .setting-label
        align-items flex-start
        margin-bottom 14px
      .setting-wrapper
        width 100%
