.editor-header
  align-items center
  color rgba(0, 0, 0, 0.78)
  .avatar
    background-color transparent
  .box
    flex 1
    .flex
      display flex
    .editor-uname
      margin-left 10px
      align-items center
      font-weight 500
      color rgba(0, 0, 0, .9)
    .editor-tpoic-type
      align-items center
      span
        align-items center
        cursor pointer
        padding .18em .4em
        margin-left -.3125em
        border-radius 4px
        color #0366d6
        &.disabled
          cursor default
        svg
          margin-top 0
          margin-left 5px
          font-size 14px
          color rgba(0, 0, 0, 0.62)
    svg
      margin-top 3px
      font-size 18px
      color rgba(0, 0, 0, .5)
  .editor-header-actions
    padding-right 10px
