.info
.signin
  margin-right 10px
  width auto
  .me
    padding 4px
    background-color rgba(0, 0, 0, 0.04)
    .avatar
      background-color rgba(189,189,189,.46)
      img
      svg
        width 100%
        height 100%
    &+div
      z-index 3
  .notification
    color inherit
    .badge span
      background-color #75a70f
