.topicard
  margin-top 20px
  &.profile
    position relative
    margin-top 0
    box-shadow none
    &:before
      position absolute
      content ''
      top 0
      left 2px
      right 2px
      height 1px
      background-color rgba(0,0,0,.06)
    &:first-child:before
      background-color transparent
  &:first-child
    margin-top 0
  .cardHeaderWrap
    padding-top 10px
    padding-bottom 0
    width 100%
  .cardHeader
    position relative
    padding-left 48px
    z-index 3
    ~/.profile ^[1..-1]
      height 40px
    button
      padding 8px
    .avatar
      position absolute
      top 9px
      left 0
      width 48px
      height 48px
      border 2px solid rgba(0,185,255,.62)
      box-shadow 0 0 4px rgba(0,0,0,.3)
      ~/.profile ^[2..-1]
        width 46px
        height 46px
    .title
      flex 1
      min-width 0
      justify-content space-between
      align-items center
      ~/.profile ^[2..-1]
        padding-left 10px
      h4
        font-size 16px
        color rgba(0,0,0,.92)
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        // display -webkit-box
        // display -moz-box
        // -webkit-line-clamp 1
        // -moz-line-clamp 1
        // -webkit-box-orient vertical
        // -moz-box-orient horizontal
        a
          color inherit
          text-decoration none
          &:hover
            text-decoration underline
          &:visited
            opacity .7
    .action
      padding 0
      height auto
      button
        padding 9px
    .content
      padding-top 6px
  .state
    position relative
    z-index 1
    top -10px
    padding-left 24px
    padding-right 30px
    font-size 14px
    color rgba(0,0,0,.5)
    &:before
      content ''
      position absolute
      left 20px
      right 20px
      bottom -10px
      height 1px
      opacity 0
      background-color rgba(0,0,0,.1)
      transition opacity .46s ease
      ~/.expanded ^[1..-1]
        opacity 1
    >div
      display inline-flex
      align-items center
      justify-content center
    .author
      padding-left 48px
      ~/.profile ^[1..-1]
        flex 1
        justify-content flex-start
      a
        margin-left 10px
        font-weight 700
        color inherit
        text-decoration none
        &:hover
          text-decoration underline
    .create
      flex 1
      justify-content flex-start
    .reply
      button
        padding-top 8px
    time
    span
      margin-top -1px
    button
      margin 0 2px
      padding 6px
      color inherit
      color rgba(0,0,0,.4)
      svg
        width 20px
        height 20px
  .context
    p
      max-height 5.14287em
      overflow hidden
      white-space normal
      text-overflow ellipsis
      display -webkit-box
      display -moz-box
      -webkit-line-clamp 3
      -moz-line-clamp 3
      -webkit-box-orient vertical
      -moz-box-orient horizontal

@media (max-width 768px)
  .topicard
    .cardHeader
      .type
        margin-left 10px
      .type
      .state
        font-size 12px
      .action
        margin-left 8px
        margin-right -4px

@media (max-width 600px)
  .topicard
    &.profile
      &:before
        background-color rgba(0,0,0,.03)

@media (max-width 500px)
  .topicard
    .cardHeaderWrap
        padding 8px 14px 2px
      .cardHeader
        .avatar
          top 11px
        .type
          margin-left 4px
      .state
        .author
          padding-left 42px

@media (max-width 400px)
  .topicard
    .cardHeaderWrap
        padding 8px 14px 6px
    .state
      .create
        padding-left 48px

@media (max-width 340px)
  .topicard
    .cardHeader
      .type
        margin-left 6px
      .type
      .state
      .action
        margin-left 6px

.topicard
  opacity 0
  transform translateY(8px)
  animation topicard 1.08s cubic-bezier(0.19,1,0.22,1) forwards
  &.profile
    background-color transparent
    transform translateX(30px)
    animation-name topicard-simple
    animation-duration .9s

for $i in 1..30
  .topicard:nth-of-type({$i})
    animation-delay .068s * ($i - 1)
  .topicard.profile:nth-of-type({$i})
    animation-delay .105s * ($i - 1)

@keyframes topicard
  0%
    opacity 0
    transform translateY(8px)
  64%
    opacity 1
  100%
    opacity 1
    transform none

@keyframes topicard-simple
  0%
    opacity 0
    transform translateX(30px)
  64%
    opacity 1
  100%
    opacity 1
    transform none
