#topic
  .topic-main,
  .topic-replies
    padding 44px 0
    border-radius 2px
    background-color rgba(255,255,255,.92)
    box-shadow 0 4px 20px rgba(0,0,0,.068),
              0 2px 16px rgba(0,0,0,.006),
              0 2px 8px rgba(0,0,0,.01),
              0 0 2px rgba(0,0,0,.01),
              0 0 8px rgba(0,0,0,.03) inset
    .dark&
      background-color rgba(0,0,0,.032)
      box-shadow 0 4px 20px rgba(0,0,0,.0068),
                 0 2px 16px rgba(0,0,0,.0006),
                 0 2px 8px rgba(0,0,0,.001),
                 0 0 2px rgba(0,0,0,.001),
                 0 0 8px rgba(0,0,0,.003) inset
  .topic-main
    .markdown-container
      padding 0 44px
    .title
      padding 0 44px
      font-size 22px
      font-weight 500
      margin-bottom 10px
      word-break break-word
    .topic-attrs-wrap
      padding 0 44px 16px
      margin-bottom 24px
      border-bottom-style dashed
      border-bottom-width 1px
      border-bottom-color #dfe2e5
      .dark&
        border-bottom-color rgba(55,55,55,.68)
      .topic-attrs
        position relative
        display flex
        flex-wrap wrap
        padding-left 52px
        min-height 36px
        font-size 12px
        color #586069
        >span
          display inline-flex
          margin-top 6px
          margin-right 20px
          align-items center
          &:last-child
            margin-right 0
          a
            color inherit
            text-decoration none
            &:hover
              text-decoration underline
          em
            font-style normal
            margin-right 4px
          svg
          .avatar
            margin-right 4px
            font-size 20px
          .avatar
            position absolute
            left 0
            top 50%
            margin-top 4px
            width 40px
            height 40px
            transform translateY(-50%)
  .topic-replies
    margin-top 45px
    .topic-reply
      position relative
      margin-top 32px
      &:first-child
        margin-top 0
      .reply-content
        position relative
        margin-left 78px
        margin-right 28px
        border 1px solid #dfe2e5
        border-radius 3px
        ../.hilite ^[3..-1]
          box-shadow 0 0 10px rgba(33,200,244,.9)
        .dark&
          border-color rgba(55,55,55,.68)
        &:before,
        &:after
          content ''
          position absolute
          top 12px
          right 100%
          width 0
          height 0
          border-width 8px
          border-style solid
          border-color transparent
          border-right-color #dfe2e5
          .dark&
            border-right-color rgba(55,55,55,.68)
        &:after
          top 13px
          border-width 7px
          border-right-color #f6f8fa
          .dark&
            border-right-color #202020
        .reply-header
          position relative
          align-items center
          padding 2px 16px
          font-size 14px
          color #666
          background-color #f6f8fa
          border-bottom 1px solid #e7e8e9
          .dark&
            color #ccc
            background-color transparent
            border-bottom-color rgba(55,55,55,.3)
          .reply-avatar
            position absolute
            top 0
            right 100%
            margin-right 16px
            ../../../.hilite ^[3..-1]
              box-shadow 0 0 10px rgba(216,10,190,.9)
            a
              display flex
            img
              width 100%
              height 100%
              display inline-flex
          .reply-attrs
            flex-direction row
            align-items center
            .group
              align-items center
              .uname-text
                width auto
                max-width 100%
                align-items center
              .uname
                color inherit
                font-weight 600
                text-decoration none
                display block
                overflow hidden
                white-space nowrap
                text-overflow ellipsis
                &:hover
                  text-decoration underline
              .text
                display block
                margin-left 6px
                padding .2em .4em
                color #21b8f3
                font-size 12px
                letter-spacing .096em
                background-color rgba(221,221,221,.18)
                white-space nowrap
                border-radius 3px
              .time
                margin-left 10px
                font-size 12px
                white-space nowrap
                span
                  margin-right 3px
          .reply-actions
            display flex
            padding-left 30px
            align-items center
            .action
              margin-left 12px
              display inline-flex
              align-items center
              font-weight 500
              padding 6px
              &:first-child
                margin-left 0
              &:hover
                text-decoration none
            .num
              user-select none
              pointer-events none
        .markdown-container
          padding 14px 16px
          .markdown-body
            font-size 15px

        ../.owned ^[3..-1]
          border-color rgba(33,184,243,.35)
          &:before
            border-right-color rgba(33,184,243,.45)
          .reply-header
            border-bottom-color rgba(33,184,243,.18)

#topic
  @media (max-width: 768px)
    .topic-main
    .topic-replies
      padding 36px 0
    .topic-main
      .markdown-container
        padding 0 20px
      .title
        padding 0 20px
        margin-bottom 8px
      .topic-attrs-wrap
        padding-left 20px
        padding-right 20px
        margin-bottom 20px
        .topic-attrs
          padding-left 48px
          >span .avatar
            width 36px
            height 36px
    .topic-replies
      margin-top 36px
      .topic-reply
        .reply-content
          margin 0 14px
          border-radius 2px
          &:before
          &:after
            display none
          .reply-header
            font-size 13px
            .reply-avatar
              position static
              margin-right 10px
              width 34px
              height 34px

  @media (max-width: 600px)
    padding-left 0
    padding-right 0
    .topic-main
    .topic-replies
      box-shadow none
    .topic-main
      .markdown-container
        padding 0 16px
      .title
        padding 0 16px
        margin-bottom 6px
      .topic-attrs-wrap
        padding 0 16px 14px
        margin-bottom 12px
        .topic-attrs
          >span
            margin-right 10px
            svg
              font-size 16px
    .topic-replies
      padding 34px 0
      .topic-reply
        &.hilite
          &:before
            position absolute
            content ''
            top -32px
            right 6px
            bottom 0px
            left 6px
            box-shadow 0 0 10px rgba(33,200,244,.9)
            pointer-events none
        .reply-content
          margin 0
          border none
          ../.hilite ^[3..-1]
            box-shadow none
          .reply-header
            font-size 12px
            background-color transparent
            border none
            .reply-attrs
              .group
                align-items flex-start
                flex-direction column
                flex-wrap wrap
                .text
                  padding 0
                  background-color transparent
                .time
                  margin-left 0
                  opacity .6
                  transform-origin 0 60%
                  transform scale(.833333)
            .reply-actions
              .action
                padding 4px
          .markdown-container
            position relative
            padding-bottom 32px
            &:after
              position absolute
              content ''
              right 16px
              bottom 0
              left 16px
              height 1px
              background-color rgba(99,99,99,.18)
              transform scaleY(.5)
              ../../../:last-child ^[3..-1]
                height 0
              .dark&
                background-color rgba(55,55,55,.62)

  @media (max-width: 420px)
    .topic-main
      .topic-attrs-wrap
        .topic-attrs
          padding-left 46px
    .topic-replies
      .topic-reply
        .reply-content
          .reply-header
            .reply-actions
              .action
                margin-left 10px

  @media (max-width: 360px)
    .topic-replies
      .topic-reply
        .reply-content
          .reply-header
            .reply-actions
              .action
                svg
                  font-size 1.375rem
