#search
  position relative
  .icon
    position absolute
    top 0
    left 0
    width 38px
    height 36px
    pointer-events none
    &.clear
      left auto
      right 0
      color rgba(0,0,0,.15)
      opacity 0
      transition opacity .23s ease .13s
      &.appear
        opacity 1
        transition-duration .1s
        transition-delay 0
        pointer-events auto
        &:hover
          color rgba(0,0,0,.24)
  .input
    transition box-shadow .3s ease
    box-shadow 1px 1px 10px rgba(0,0,0,.03)
    transition width .3s cubic-bezier(0.4,0,0.2,1),
               box-shadow .3s ease
    &.focus
      width 266px
      box-shadow 1px 1px 20px rgba(0,0,0,.1)
    ../ .icon
    &
      color #fff
    width 240px
    height 36px
    padding 6px 36px
    font-size 18px
    line-height 24px
    background-color rgba(255,255,255,.15)
    vertical-align middle
    border-radius 2px
    outline none
    border none
