#nav
.flex
  display flex
.type-content
  position relative
  padding 0 8px
  justify-content center
  &:before
    position absolute
    top 0
    right -26px
    bottom 0
    left 0
    content ''
    background-color rgba(255,255,255,.08)
  a
    display flex
    flex 1
    min-width 4em
    max-width 156px
    text-decoration none
    @media (max-width: 768px)
      min-width 2em
    .type
      width 100%
      position relative
      color rgba(255,255,255,.5)
      border-radius 0
      min-height 48px
      &:hover
        background-color rgba(255,255,255,.03)
      ../.current ^[2..-1]
        background-color rgba(255,255,255,.1)
      @media (max-width: 768px)
        min-width auto
        padding 3px 14px
      @media (max-width: 320px)
        padding 0 4px
      span
        font-size 15px
        letter-spacing .1em
        line-height 32px
        text-align center
        @media (max-width: 768px)
          letter-spacing 0
        @media (max-width: 360px)
          font-size 13px
